/* ======================= General settings ========================= */

body {
	background-color: #f1f3f8;
	font-family: 'Hind', 'Source Sans Pro', sans-serif, serif, monotype;
	font-size: 100%;
	height: 100%;
	width: 95%;
	max-width: 1100px;
	margin: auto;					/* Centers the page if applicable */
	padding: 0;
	overflow-y: scroll;
}

.wrapper {
	width: 98%;
	max-width: 1200px;
	margin: auto;
	text-align: justify;
}

.centered {
	padding-top:10px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #ffffff;
/*
	min-height: 95%;
*/
}

header p.name, p.subtitle, p.more {
	font-family: 'Roboto Slab', 'Source Sans Pro', sans-serif, serif, montype;
	/*font-weight: bold;*/
}

@media all and (max-width: 812px)
{
	body {
		width: 100%;
	}
	.centered {
		padding: 1% 3% 1% 3%;
	}
}


p {	text-align: justify;}

a { text-decoration: none; color: #3973ac; }

p.subtitle{
	font-size: 110%;
	padding-bottom: 0;
	margin: 0;
}

p.more, a.more {
	cursor: pointer;
	text-align: right;
	font-size: 90%;
}

a.bigButton:link, a.bigButton:visited {
  border: 0px;
  padding: 10px 30px;
  margin: 10px;
  background-color: #3973ac;
  color: #ffffff;
  font-size: 110%;
  text-align: center;
}

a.bigButton:hover, a.bigButton:active {
  border: #ffa64d 2px solid;
  font-weight: bold;
}


/* ===================== CSS styles for header ====================== */

header {
	margin-top:48px;
	margin-bottom:40px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

header p.name {
	color: black;
    font-size: 275%;
    margin: 0;
    text-align: left;
}

header p.subname, p.subname_950, p.subname_800 {
	color: grey;
	font-size: 180%;
	margin: 0;
	text-align: left;
}

header p.subname_950, header p.subname_800 {
	display: none;
}

@media all and (max-width: 1000px)
{
	header p.subname {
		display: none;
	}
    header p.subname_950 {
		display: block;
	}
}

@media all and (max-width: 930px)
{
	header {
		margin-top: 15px;
	}
	
	header p.name {
		font-size: 200%;
	}
	
	header p.subname_950 {
		display:none;
	}
    header p.subname_800 {
		display: block;
		font-size: 140%;
	}
}

@media all and (max-width: 830px)
{
	.icteam {
		display: none;
	}
}





/* ===================== CSS styles for nav ====================== */

nav {
	margin: auto;
	white-space: nowrap;
	padding-bottom: 20px;
}

nav.smallScreen {
	display: none;
}

nav ul {
  list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 2px solid #3973ac;
}

nav li.navTitle {
	font-weight: bold;
	font-size: 175%;
}

nav li, nav li > a {
	color: black;
}

nav li > a, nav li.navTitle > a{
	float: left;
	line-height: 20px;
	display: block;
	padding: 13px 20px 13px 18px;
	text-decoration: none;
}

nav li:first-child {
	padding-left: 0;
}

nav li:last-child {
	padding-right: 0;
}

nav i, .overlay i {
	padding-right: 0.5em;
	padding-left: -0.2em;
}

nav li.active, nav li:hover {
	background-color: #3973ac;
	font-weight: bold;
}

nav li.active > a, nav li:hover > a {
	color: #ffffff;
}

nav li.navTitle:hover > a {
	background-color: #489aff;
	text-decoration: none;
	color: #fefefe;
}







/* The Overlay (background) */
.menu__overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    /* Stay in place and sit on top */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    /* Coloration */
    background-color: #3973ac;
    /* Disable horizontal scroll and add slide down */
    overflow-x: hidden;
    transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.menu__overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 200%;
    color: #fefefe;
    display: block;
    transition: 0.2s; /* Transition effects on hover (color) */
}


.menu__overlay a:hover, .menu__overlay a:focus, .menu__overlay a:active {
    color: #ffa64d;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .menu__overlay a {font-size: 20px}
}


/* Responsive */
@media all and (max-width: 830px)
{
  nav.smallScreen {
    display: block;
  }
  
	nav.largeScreen {
		display: none;
	}
  
  .icon {
    position: absolute;
    top: 70%;
    right: 70%;
    transform: translateX(50%) translateY(-50%);
  }
  .hamburger {
    content: ' ';
    position: relative;
    width: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: all 0.333333333333333s ease;
  }
  .hamburger:after,
  .hamburger:before {
    content: ' ';
    position: absolute;
    left: 50%;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transform: translateX(-50%);
    transition-property: top, bottom, transform;
    transition-duration: 1s, 1s, 0.25s;
  }
  .hamburger:after {
    top: -9px;
  }
  .hamburger:before {
    bottom: -9px;
  }
  .menu__toggle {
    z-index: 2;
    position: fixed;
    top: -100px;
    right: -100px;
    width: 200px;
    height: 200px;
    background-color: #3973ac;
    border-radius: 50%;
    transition: transform 1.3s;
    cursor: pointer;
    pointer-events: auto;
  }
  .menu__active {
    position: relative;
  }
  #menu__active {
    position: fixed;
    top: -99999px;
    left: -99999px;
  }
  #menu__active:checked ~ label .menu__toggle {
    background-color: #ffffff;
    transition: all 1s;
  }
  #menu__active:checked ~ label .hamburger {
    border-color: transparent;
    transition: border-color 0.333333333333333s;
  }
  #menu__active:checked ~ label .hamburger:after {
    top: -2px;
    border-color: #3973ac;
    transform: translateX(-50%) rotate(45deg);
    transition-property: top, transform;
    transition-duration: 0.25s, 1s;
  }
  #menu__active:checked ~ label .hamburger:before {
    bottom: -2px;
    border-color: #3973ac;
    transform: translateX(-50%) rotate(-45deg);
    transition-property: bottom, transform;
    transition-duration: 0.25s, 1s;
  }
  #menu__active:checked ~ label .menu__overlay {
    height:100%;
    transition-duration: 1s;
  }
}










/* =================== CSS styles for sections ====================== */

section {
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2em;
}

article {
	text-align: justify;
	float: none;
	overflow: hidden;
	min-height: 270px;
	width: 74%;
	margin-left: 20px;
/*
	margin-bottom: 10px;
*/
}

.image-left {
	margin: 0 20px 20px 0;
	width: 30%;
	max-height: 250px;
	max-width: 250px;
}

.image-right {
	margin: 0 0 0 20px;
	width: 55%;
}


@media all and (max-width: 830px)
{
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.sect-contact {
		align-items: stretch;
	}
	
	article {
		min-height: auto;
		width: 100%;
		margin-left: 0;
	}
	
	.image-left {
		margin: 0 0 20px 0;
		width: 50%;
		max-width: 200px;
		max-height: 100%;
	}
	
	.image-right {
		width: 100%;
		min-height: 200px;
		margin: 0;
	}
}


/* ==================== CSS styles for publications ================= */

ul.papers, ul.icons {
	list-style-type: none;
}

ul.papers {
	padding-left: 0px;
	padding-bottom: 20px;
}

div.paperEntry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul.papers > li {
	padding-bottom: 20px;
}

.talk {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.paperTitle {
	font-weight: bold;
}

.paperJournal {
	font-style: italic;
}

.paperAbstract, .paperQuote {
	display: none;	
	margin-left: 10px;
}

.paperAbstract {
	padding-left: 10px;
	border-left: 2px solid #e3e3e3;
}

.paperQuote {
	padding-top: 10px;
}

ul.icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-left: 15px;
}

ul.icons img
{
	width: 20px;
}

ul.icons > li {
	padding: 0 0 0 5px;
}

@media all and (max-width: 830px)
{
	div.paperEntry {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	
	ul.icons {
		padding-top: 1em;
	}
}


/* ==================== CSS styles for text ========================= */


blockquote {
	margin: 0 30px 24px;
	padding: 12px 24px;
	border-left: 2px solid grey;
	background-color: #DDE9ED;
}



/* ===================== CSS styles for footer ====================== */

footer {
	margin: auto;
	margin-top: 20px;
	padding: 10px 0 20px 0;
	text-align: center;
	font-size: 80%;
}




/* ==================== CSS styles for maths ======================== */

.math{	text-align: center; }

/* =================== CSS styles for images ======================== */
.rounded-pic {	border-radius: 10px; }



/* ================= CSS styles for matlab code ===================== */


h2.code, h3.code {
	margin: 20px 40px 0 0 ;
	font-size: 100%;
	color: #e95325;
}

h3.code {
	font-weight: normal;
}

pre { font-size:12px;}
pre { margin:0px 0px 20px; white-space: pre-wrap; }
pre.codeinput { 
	padding:10px; 
	border:1px solid #d3d3d3; 
	background:#f7f7f7;
}
pre.codeoutput { 
	padding:10px 11px; 
	margin:0px 0px 20px; 
	color:#4c4c4c; 
}

@media print { pre.codeinput, pre.codeoutput { word-wrap:break-word; width:100%; } }

span.comment { color:#228B22 }
span.string { color:#A020F0 }
span.keyword { color:#0000FF }

code {
	background-color: #e5e7ff;
}
